Spacy==3.0.6
NLTK>=3.5
pandas>=1.1.1
numpy==1.22.0
click>=6.7
Flask>=1.1.2
Flask-Cors>=3.0.8
xlrd>=1.2.0
azure-cosmosdb-table>=1.0.6
pyarrow>=2.0.0
openpyxl>=3.0.5
fuzzywuzzy==0.18.0
python-Levenshtein-wheels==0.13.2