apiVersion: apps/v1
kind: Deployment
metadata:
  name: openefsafoodexwebcomponentbackend

spec:
  progressDeadlineSeconds: 900
  replicas: 1
  selector:
    matchLabels:
      app: openefsafoodexwebcomponentbackend
  template:
    metadata:
      labels:
        app: openefsafoodexwebcomponentbackend
    spec:
      containers:
        - name: openefsafoodexwebcomponentbackend
          image: efsadsreg.azurecr.io/openefsafoodexwebcomponentbackend
          env:
            - name: ACCOUNT_NAME
              valueFrom:
                secretKeyRef:
                  name: flaskapi-secrets
                  key: BLOB_STORAGE_ACCOUNT_NAME
            - name: ACCOUNT_KEY
              valueFrom:
                secretKeyRef:
                  name: flaskapi-secrets
                  key: BLOB_STORAGE_ACCOUNT_KEY
            - name: TABLE_NAME
              valueFrom:
                secretKeyRef:
                  name: flaskapi-secrets
                  key: BLOB_STORAGE_TABLE_NAME
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: flaskapi-secrets
                  key: FEEDBACK_API_SECRET_KEY
            - name: TRANSLATOR_SUBSCRIPTION_KEY
              valueFrom:
                secretKeyRef:
                  name: flaskapi-secrets
                  key: TRANSLATOR_SUBSCRIPTION_KEY
            - name: TRANSLATOR_RESOURCE_LOCATION
              valueFrom:
                secretKeyRef:
                  name: flaskapi-secrets
                  key: TRANSLATOR_RESOURCE_LOCATION
          volumeMounts:
            - name: models
              mountPath: "/usr/src/app/models"
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"
          ports:
            - containerPort: 5000
      initContainers:
        - name: download-models
          image: curlimages/curl
          command:
            - wget
            - https://efsapublicmodels.blob.core.windows.net/efsapublicmodels/FOODEX/en_textcat_foodex2_expo_11.3.zip
            - "-O"
            - "/usr/src/app/models/en_textcat_foodex2_expo_11.3.zip"
          volumeMounts:
            - name: models
              mountPath: "/usr/src/app/models"
        - name: unzip-models
          image: curlimages/curl
          command:
            [
              "unzip",
              "/usr/src/app/models/en_textcat_foodex2_expo_11.3.zip",
              "-d",
              "/usr/src/app/models",
            ]
          volumeMounts:
            - name: models
              mountPath: "/usr/src/app/models"
      volumes:
        - name: models
          emptyDir: {}

---
apiVersion: v1
kind: Service
metadata:
  name: openefsafoodexwebcomponentbackendservice
spec:
  selector:
    app: openefsafoodexwebcomponentbackend
  ports:
    - port: 5000
      targetPort: 5000
